# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
.dist-info/
pip-wheel-metadata/
.pytest_cache/
.coverage
htmlcov/
.cache/

# Virtual environments
.venv/
venv/
ENV/
env/
.env

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/crash.log
terraform/.terraform.lock.hcl

# Docker
**/.dockerignore

# Secrets
.env
.env.*
*.pem
*.key

# Streamlit
.streamlit/secrets.toml
